paginaWCF/Service References/wcf/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54754/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
  <xs:element name="SeleccionarTaxaPorIDTaxa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Idtaxa" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarTaxaPorIDTaxaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="SeleccionarTaxaPorIDTaxaResult" nillable="true" type="q1:taxa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarTaxa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="nuevaTaxa" nillable="true" type="q2:taxa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarTaxaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarTaxaResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarTaxa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="taxaActualizada" nillable="true" type="q3:taxa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarTaxaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarTaxaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTaxa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="taxaEliminada" nillable="true" type="q4:taxa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTaxaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarTaxaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>